<div class="app-weather">

    <div class="weather-temperatue flex-row ver-bottom">
        <div class="flex-column flex-column hor-top">
            <div>
                <label id="WeatherTemperature">0&deg;C</label>
                <label id="WeatherDate">Date</label>
                <label id="WeatherTime">Time</label>
            </div>
            <i id="WeatherIcon" class="wi"></i>
        </div>
    </div>

    <div class="weather-panel" style="padding-top: 0px;">
        <div class="ui sizer vertical segment">
            <div class="ui huge header">Daily</div>
            <div id="WeatherDailyCanvas" style="height: 150px; width: 100%;"></div>
        </div>
    </div>

    <div class="weather-panel" style="padding-top: 0px;">
        <div class="ui sizer vertical segment">
            <div class="ui huge header">Hourly</div>
            <div id="WeatherHourlyCanvas" style="height: 150px; width: 100%;"></div>
        </div>
    </div>

</div>