<div class="app-navigation">
    <button class="fa fa-bars" onclick="Weather.ToggleNavigation();"></button>
    <div class="flex-column ver-bottom" style="right: -100%;">

        <div class="ui vertical large menu">
            <div class="item">
                <div class="menu">
                    <a class="item" onclick="Weather.ToggleNavigation();">Close</a>
                </div>
            </div>
            <div class="item">
                <div class="header">Weather App</div>
                <div class="menu">
                    <a class="item" onclick="Weather.GetLocation();"><i class="location arrow icon"></i>Use GPS</a>
                </div>
            </div>
        </div>
        
    </div>
</div>